
.landing-page {
  margin-top: 30px;
}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Accordion

%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

  /*toggle-icons*/

   .accordion-toggle.collapsed span:before { 
        content:"\2b";
   }
   .accordion-toggle span:before { 
        content:"\2212";
   }

  .accordion-new {
    padding-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
  }

  
  /* Accordion List */
  .accordion-list{
      
        list-style-type: decimal;
        font-size: 13px;
  }

  
 /* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Accordion Title, Links

%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* Accordion Title */
  .accordion-title {
    padding: 0px 10px 0px 25px;
    font: 800 22px/1.2em @font-header,sans-serif;
    color: #666666;
    text-decoration: none;
    display: block;
    cursor: pointer; 
    cursor: hand;
    position: relative;
  }

  .accordion-title:hover {
    color: #328ed1;
  }

  .accordion-title-desc{
    padding: 0px 10px 0px 0px;
    font:200 14px/1.2em @font-text,sans-serif;
    color: #bbbbbb;
    position: relative;
    left: 25px;
  }

  .toggle-icon {
    color:@earth-pumpkin-color;
    position: absolute;
    padding: 5px 0px 0px 0px;
    cursor: pointer; 
    cursor: hand;
  }

/* Accordion Link */
  .accordion-link{
      
      font:200 14px/1.2em @font-text, @font-alt ,sans-serif;
      line-height: 35px;
     
  }

  .accordion-link:hover{
      text-decoration: underline;
  }

