

/*   ========================================================================================================     */

// @@@@@@@@@@@ MAIN     @@@@@@@@@@@
// @@@@@@@@@@@ ARTICLE  @@@@@@@@@@@
// @@@@@@@@@@@ CSS      @@@@@@@@@@@


.article-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font: 200 28px/1.2em @font-header,sans-serif;
  color: @article-color;
  letter-spacing: 1px;
}

#article-content {
  font-family: @font-text;
  font-size: 1.2em;
  color: @font-color;
  line-height: 180%;
  width: 800px;
}

#article-content > p > img{
  
}

.border{
  border-right: solid 1px;
  border-color: @footer-color;   
  padding-right: 70px;  
}



