/*   ========================================================================================================     */

// @@@@@@@@@@@ MAIN     @@@@@@@@@@@
// @@@@@@@@@@@ ARTICLE  @@@@@@@@@@@
// @@@@@@@@@@@ CSS      @@@@@@@@@@@


.bsh-header .navbar-nav > li > a {
    line-height: 32px;
}

.bsh-article-title {
  margin-bottom: 25px;
  font: 700 28px/1.2em @font-header, sans-serif;
  color: @article-color;
  letter-spacing: 1px;

  @media (max-width: @media-xs-min) {
    margin-top: 50px;
  }
}

.bsh-article-content {
    margin: 20px 40px 40px 0px;
    font-family: @font-text;
    color: @font-color;
    line-height: @line-gap;

    > p {
        font-size: 14px;
    }

    > h2 {
        text-transform: uppercase;
    }

}

/* Sidenav styles begin */

#sidenav-list.affix {
    top: 114px;
    width: 159px;
    border-right: 1px solid #e5e5e5;

    @media all and (max-width: @media-md-max) {
        width: 125px;
    }
}

#sidenav-list .nav > li > a {
    font-size: 13px;
    color: #999;

    &:hover {
        color: @sidenav-blue;
        border-right: 2px solid @sidenav-blue;
        background-color: #fff;
    }
}

#sidenav-list .nav > li > ul {
    max-height: 0;
    transition: 0.25s ease all;
    opacity: 0;
    overflow: hidden;
}

#sidenav-list .nav > li > ul > li > a {
    padding: 3px 8px;
    font-size: 13px;

     &:hover {
        color: @sidenav-blue;
        border-right: 1px solid @sidenav-blue;
    }
}

#sidenav-list .nav > li.active > ul {
    max-height: 1200px;
    transition: 0.25s ease all;
    opacity: 1;

    > li.active > a {
        color: @sidenav-blue;
        font-weight: 200;
    }
}

#sidenav-list .nav > li.active > a {
    border-right: 2px solid @sidenav-blue;
    color: @sidenav-blue;
    font-weight: 600;
    z-index: 1;
    margin-right: -1px;
}