
// Menu box

.bsh-breadcrumb-left {
  padding-right: 8px;  
}

.bsh-breadcrumb-bg {
  background: #ededed;
  padding: 8px 15px;
  margin-bottom: 20px;
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 20;

  @media all and (max-width: @media-xs-max) {
    position: static;
    top: auto;
    width: auto;
  }
}

.bsh-breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.menu-box {
  float: right;
  background-color: #ededed;;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  color: #adadad;
  font-size: 12px;
  position: relative;
  cursor: pointer; 
  cursor: hand;

  &:hover {
    background-color: #e4e4e4;
  }
}

.menu-icon {
  top: 6px;
  left: 7px;
  position: absolute;
  text-decoration: none;
  z-index: 10;

  &:hover {
    background-color: #e4e4e4;
  }
}

.vertical-line {
  border-right: 1px solid #d7d7d7;
  height: 22px;
  float: right;
  margin-right: -3px;
}

.menu-box-selected {
   background-color: #e4e4e4;
   border: 1px solid #cccccc;
   cursor: pointer; 
   cursor: hand;
}

.menu-icon-selected {
  top: 5px;
  left: 6px;
}

.vertical-line-toggle {
  visibility: hidden;
}