body {
   min-width: 320px;
   width: auto !important;
   width: 320px;
}

a {
	color: @link-color;

	&:hover {
		color: @link-color;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
}

.bsh-breadcrumb-bg {
	background: #ededed;
	padding: 8px 15px;
	margin-bottom: 20px;
	position: fixed;
	top: 65px;
	width: 100%;
	z-index: 20;

	@media all and (max-width: @media-xs-max) {
		position: static;
		top: auto;
		width: auto;
	}
}

.bsh-breadcrumb {
	background: none;
	padding: 0;
	margin: 0;
}

// new to basespace styles



// carousel



// end of new to basespace