body {
   min-width: 320px;
   width: auto !important;
   width: 320px;
}


.bsh-breadcrumb-bg {
	background: #ededed;
	padding: 8px 15px;
	margin-bottom: 20px;
	position: fixed;
	top: 65px;
	width: 100%;
	z-index: 1;

	@media all and (max-width: @media-xs-max) {
		position: static;
		top: auto;
		width: auto;
	}
}

.bsh-breadcrumb {
	background: none;
	padding: 0;
	margin: 0;
}

// new to basespace styles

.bsh-box-container {
	.panel { 
		height: 150px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.bsh-big-section {
    padding-top: 50px;
}

// carousel

.card-image {
	text-align: center;
	height: 450px;

	@media all (and max-width: @media-xs-max) {
		height: auto;
	}
}

.card-image > img {
	max-width: 100%;
	max-height: 100%;
}

.carousel-caption {
	margin-left: -18%;
	margin-bottom: -30px;
	z-index: 50;
	background: none;
	color: #000;
	font-size: 1.5em;
	color: #ffb441;
	text-align:left;
	text-shadow: none;
	padding-top: 20px;
	border-top: 1px solid #E4E4E4;

	@media (max-width: 491px){
  		margin-left: -15%;
	}
}

.carousel-indicators {
	position: relative;
	display: block;
	margin-left: 0px; 
	left: 0%;
	text-align: right;
	width: 100%;
	padding-right: 5px;
	margin-top: -5px;
}

.carousel-indicators li{
	border: 1px solid #ccc;
	width: 1.2em;
	height: 1.2em;
} 

.carousel-indicators .active {
	background-color: #3FA9F5;
	width: 1.2em;
	height: 1.2em;
}

// end of new to basespace