/* Header CSS */


.header { 

  min-height: 50px;
  border: 1px solid transparent;
  background-color: #ffffff;
  font-family: @font-header;
}


/* Logos for Navbar */

.header-brand-baseSpace {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
}

.header-brand-illumina {
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
}



// @@@@@@@@@@@ FOOTER     @@@@@@@@@@@

.footer {                   /* Footer CSS */
 
  font:10px/1.2em "pt-sans-regular",sans-serif;
  color: #666666;
  margin: 15px auto;
  background-color: #ffffff;
  position: relative;
  left: 50px;
    
    
    
}
