/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                           BASESPACE HEADER WITH BASEPSACE SEARCH AND ILLUMINA LOGO

  %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.bsh-header {
  background: white;
  min-height: 65px;
  margin-bottom: 0;
}

.bsh-header .navbar-brand {
  height: 65px;
  font-size: 1.5em;
  line-height: 32px;

  @media all and (max-width: @media-xs-max) {
    font-size: 1.2em;
  }
}

.bsh-header .navbar-form, .bsh-header .navbar-toggle {
  margin-top: 15px;
  border: none;
}

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: "HelveticaNeueW01-ThinEx 710288";
}

.header-brand-illumina {
  width: 95px;
}

/* Google search box */

input {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding-left: 5px;
  height: 30px;
}

input.gsc-input {
  border-color: #004220;
}

input.gsc-search-button {
  display: none;
}

.gcsc-branding {
  display: none;
}

/* User Account styles */

#bsh-account-dropdown {
  border: none;
  margin-top: 6px;
  padding-top: 10px;
  
  .account-left {
    display: block;

    #bsh-gravatar {
      border: 1px solid #ddd;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
  }

  .account-body {
    display: block;
    padding: 7px 6px 0px 10px;
    max-width: 100px;
    overflow: hidden;
  }

  .account-right {
    padding: 12px 1px 0px 6px;
    font-size: 10px;
  }
}

#bsh-account-signin {
  display: none;
  margin: 15px 15px 0px 0px;
  color: white;
  background-color: #328ed1;
  border: none;
}

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                           BASESPACE FOOTER

   &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.bsh-footer {
  background: white;
  border-top: 1px solid #ccc;
}

.bsh-footer .nav > li { 
  display: inline-block; 

  > a:hover {
    color: @link-color;
  }
}
