/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                                                Body Home

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */


.styling_home{

background-color: #ffffff;
font-size: 13px;
color: #666666;

}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                                                Homepage banner

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */





.banner-custom{
    
text-align: left;
height: 160px;

}

.banner-title{
    
font-family: "HelveticaNeueW01-ThinEx 710288", sans-serif !important;
color: #666666; 
font-size: 42px;
font-weight: 100;
margin-top: 50px;
position: relative;
left: 40px;
    
}

.hr-custom{
    
margin: 0px 0px 90px 0px;
display: block;
border: 0;
border-top: 1px solid #dfdfdf;
border-bottom: 1px solid #fff;
 
    
}



/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                           Popular Articles Section

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */


/* Popular Articles Links Section */



.popular-articles-header {
 
    font: 200 20px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
    color: #ffb441;
    margin-bottom: 30px;
    position: relative;
    left: 40px;

}

.popular-articles-section{

    position: relative;
    top: -1px;
    left: 90px;
    background-color: #ffffff;


    padding-right: 50px;
    padding-bottom: 20px;



     @media (max-width: 768px){
                                margin-left: 60px;
                                margin-right: 60px;
                                padding-left: 20px;
                                padding-right: 20px;
                             }

     @media (max-width: 491px){
                                margin-left: 20px;
                                margin-right: 20px;
                                padding-left: 20px;
                                padding-right: 20px;
                             }

}

.popular-article-link{

    margin-bottom: 17px;

}

.popular-article-ol{

    list-style-type: none;
    padding-top: 10px;
    position: relative;

}



/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Categories Section

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */



/** LEFT SIDE BAR CSS **/

a.link_grey:link{

    color: #000000;
}


/* Box Layout */


.left-part{        /*icon layout*/

    display: table-cell;
    vertical-align: middle;
    text-align: center;


}

.middle-part{           /*text layout*/

    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-right: 5rem !important;
    position: relative;
    display: table-cell;
    vertical-align: middle;

}

.right-part{            /*caret layout*/

    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    color: #f1f2f2;
    font-size: 3rem;

}

.description-part{

    display: table-cell;
    position: absolute;
    top: 64px;
    left: 102px;
    font: 200 11px/1.2em "pt-sans-regular",sans-serif;
    color: #bbbbbb;

                @media (max-width: 1199px){
                                                font: 200 11px/1.2em "pt-sans-regular",sans-serif;


                                          }


                @media (max-width: 991px){
                                                font: 200 11px/1.2em "pt-sans-regular",sans-serif;
                                                display: none;


                             }

                @media (max-width: 768px){
                                                font: 200 11px/1.2em "pt-sans-regular",sans-serif;
                                                display: table-cell;
                                                top: 50px;
                                                left: 100px;

                             }

                @media (max-width: 491px){

                                                font: 200 11px/1.2em "pt-sans-regular",sans-serif;
                                                display: none;

                             }


}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            New to BaseSpace Section

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */



#sidebarmodule-gs{                              /* New to BaseSpace */

    border: none;
    border-color: #7CA8D4;
    border-radius: 3px;
    background-color: #f9f9f9;
    display: table;
    width: 105%;
    height: 110px;

    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    left: -8px;



     @media (max-width: 768px){
                                width: 80%;
                                left: 50px;
                                height: 90px;
                             }

    @media (max-width: 460px){
                                width: 80%;
                                left: 40px;
                                height: 90px;
                             }

}

#category-heading-gs{                                   /* Getting Started Box Heading */

    font: 200 20px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
    color: #666666;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-left: 5px;
    display: table-cell;
    position: absolute;
    top: 7px;
    left: -190px;


    @media (max-width: 1199px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -140px;
                                top: 10px;

                             }


    @media (max-width: 991px){
                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -90px;
                                top: 25px;

                             }

    @media (max-width: 768px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -100px;
                                top: 2px;



                             }

    @media (max-width: 491px){

                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                top: 15px;
                                left: -75px;


                             }

}

#sidebarmodule-gs:hover{

    background-color: @FAQ-color;
    transition-duration: 0.5s;

}

#sidebarmodule-gs:hover #category-heading-gs{

    color: @white-color;
    transition-duration: 0.5s;

}

#sidebarmodule-gs:hover .faq_icon{


    color: @white-color;
    transition-duration: 0.5s;
}



/* FAQ Icon */


.faq_icon {

    font-size: 45px;
    color: @FAQ-color;
    display: table-cell;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 1199px){
                                top: 0px;
                             }

    @media (max-width: 991px){
                                font-size: 35px;
                                top: 1px;
                             }

    @media (max-width: 768px){
                                top: -2px;
                                font-size: 35px;
                             }

    @media (max-width: 491px){
                                top: -1px;
                                font-size: 35px;
                             }

}



/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Article Section

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* Box for Article section */

#sidebarmodule-articles{
    
    border: 1px solid;
    border-color: #bbbbbb;
    border-radius: 3px;
    background-color: #ffffff;
    display: table;
    width: 105%;
    height: 110px;
    
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    left: 35px;
    
    
     @media (max-width: 768px){
                                width: 80%;
                                left: 50px;
                                height: 90px;
                             }
    
    @media (max-width: 460px){
                                width: 80%;
                                left: 40px;
                                height: 90px;
                             }
   
}



#category-heading-articles{

    font: 800 20px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
    color: #ffb441;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-left: 5px;
    display: table-cell;
    position: absolute;
    top: 8px;
    left: -188px;


   @media (max-width: 1199px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -140px;
                                top: 10px;

                             }


    @media (max-width: 991px){
                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -90px;
                                top: 25px;

                             }

    @media (max-width: 768px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -100px;
                                top: 2px;



                             }

    @media (max-width: 491px){

                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                top: 15px;
                                left: -75px;


                             }

}

/* Articles Hover CSS */

#sidebarmodule-articles:hover{
    
    background-color: #ffb441;
    transition-duration: 0.5s;
    border-color: #ffb441;
    
    
}

#sidebarmodule-articles:hover #category-heading-articles{
    
    transition-duration: 0.5s;
    color: #fff;
    

}

#sidebarmodule-articles:hover .articles_icon{
  
    transition-duration: 0.5s;
    color: #fff;
}

#sidebarmodule-articles:hover .caret-right{
  
    transition-duration: 0.5s;
    color: #fff;
}

#sidebarmodule-articles:hover .description-part{
    
    transition-duration: 0.5s;
    color: #fff;
    
}


/* Article Icon */

.articles_icon{
    
    font-size: 45px;         
    color: #ffb441;
    display: table-cell;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    
    @media (max-width: 1199px){
                                top: 0px;
                             }
    
    @media (max-width: 991px){
                                font-size: 35px; 
                                top: 1px;
                             }

    @media (max-width: 768px){
                                top: -2px;
                                font-size: 35px;
                             }
    
    @media (max-width: 491px){
                                top: -1px;
                                font-size: 35px;
                             }
    
    
}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Forum Section CSS

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* Forum Hover CSS */


#sidebarmodule-forums{

    border: 2px solid;
    border-color: #bbbbbb;
    border-radius: 3px;
    background-color: #ffffff;
    display: table;
    width: 105%;
    height: 110px;

    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    left: 15px;

     @media (max-width: 768px){
                                width: 80%;
                                left: 50px;
                                height: 90px;
                             }

    @media (max-width: 460px){
                                width: 80%;
                                left: 40px;
                                height: 90px;
                             }
}

#category-heading-forums{

    font: 800 20px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
    color: #ffb441;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-left: 5px;
    display: table-cell;
    position: absolute;
    top: 7px;
    left: -193px;


   @media (max-width: 1199px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -140px;
                                top: 10px;

                             }


    @media (max-width: 991px){
                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -90px;
                                top: 25px;

                             }

    @media (max-width: 768px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -100px;
                                top: 2px;



                             }

    @media (max-width: 491px){

                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                top: 15px;
                                left: -75px;


                             }

}

#sidebarmodule-forums:hover{

    background-color: #f9f9f9;

}

#sidebarmodule-forums:hover #category-heading-forums{


    transition-duration: 0.5s;

}

#sidebarmodule-forums:hover .forum_icon{



    transition-duration: 0.5s;
}

/* Forum Icon */

.forum_icon{

    font-size: 42px;
    color: #AD73AC;
    display: table-cell;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 1199px){
                                top: 0px;
                             }

    @media (max-width: 991px){
                                font-size: 35px;
                                top: 1px;
                             }

    @media (max-width: 768px){
                                top: -2px;
                                font-size: 35px;
                             }

    @media (max-width: 491px){
                                top: -1px;
                                font-size: 35px;
                             }

}



/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                           Dev Section CSS

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */




#sidebarmodule-dev{
    
    border: 1px solid;
    border-color: #bbbbbb;
    border-radius: 3px;
    background-color: #ffffff;
    display: table;
    width: 105%;
    height: 110px;
    
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    left: 35px;
    
    
     @media (max-width: 768px){
                                width: 80%;
                                left: 50px;
                                height: 90px;
                             }
    
    @media (max-width: 460px){
                                width: 80%;
                                left: 40px;
                                height: 90px;
                             }
    
}

#category-heading-dev{

    font: 800 20px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
    color: #ffb441;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-left: 5px;
    display: table-cell;
    position: absolute;
    top: 7px;
    left: -190px;


    @media (max-width: 1199px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -140px;
                                top: 10px;

                             }


    @media (max-width: 991px){
                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -90px;
                                top: 25px;

                             }

    @media (max-width: 768px){
                                font: 200 16px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                left: -100px;
                                top: 2px;



                             }

    @media (max-width: 491px){

                                font: 200 14px/1.2em "HelveticaNeueW01-ThinEx 710288",sans-serif;
                                top: 6px;
                                left: -75px;


                             }

}

#sidebarmodule-dev:hover{
    
    background-color: #BAC147;
    transition-duration: 0.5s;
    border-color: #BAC147;
    
}

#sidebarmodule-dev:hover #category-heading-dev{

    transition-duration: 0.5s;
    color: #fff;

}

#sidebarmodule-dev:hover .developer_icon{

    transition-duration: 0.5s;
    color: #fff;
}

#sidebarmodule-dev:hover .caret-right{
  
    transition-duration: 0.5s;
    color: #fff;
}

#sidebarmodule-dev:hover .description-part{
    
    transition-duration: 0.5s;
    color: #fff;
    
}




/* Developer Icon */

.developer_icon {

    font-size: 45px;
    color: #BAC147;
    display: table-cell;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 1199px){
                                top: 0px;
                             }

    @media (max-width: 991px){
                                font-size: 35px;
                                top: 1px;
                             }

    @media (max-width: 768px){
                                top: -2px;
                                font-size: 35px;
                             }

    @media (max-width: 491px){
                                top: -1px;
                                font-size: 35px;
                             }

}

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            ICONS

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* Right Caret Icon */


.caret-right{

    font-size: 60px;
    color: #bbbbbb;
    position: relative;
    top: 7px;
    left: 10px;
    display: table-cell;

    @media (max-width: 768px){
                                top: -3px;
                                font-size: 60px;

                             }


}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Video Section

            %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */


.video-section{
    
    border: 1px solid transparent;
    background-color: #f6f6f6;
    padding-bottom: 100px;
    
    
}

.video-heading{
    
    font: 200 28px/1.2em "HelveticaNeueW01-LtExt",sans-serif;
    color: #ffb441;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 100px;
    margin-bottom: 30px;
    
}

