/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&

                                                    Body Home

   &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%& */

body {
  position: relative;
  min-width: 320px;
  width: auto !important;
  width: 320px;
  
  &.bsh-with-breadcrumbs {
    @media all and (min-width: @media-sm-min) {
      padding-top: 101px;
    }
  }

  @media all and (min-width: @media-sm-min) {
    padding-bottom: 51px;
    padding-top: 65px;
  }
}


.bsh-static-xs {
  @media all and (max-width: @media-xs-max) {
    position: static !important;
  }
}

a {
  color: @link-color;

  &:hover {
    color: @link-color;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}



/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                                Homepage banner

   &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.bsh-banner {
  
  h1 { 
    font-weight: 500;
  }

  background-image: url(/images/illumina-purple-banner.jpg);
  color: #fff;
  margin-bottom: 65px;
}


/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                               Categories Section

   &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

a.bsh-thumbnail {
  display: block;  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
  box-shadow: rgba(0,0,0,0.15) 0 0 3px;
  border-radius: 3px;

  &:hover {
    border-color: @link-color;
    transition: .15 ease all;
    text-decoration: none;

    > .caption {
      color: @link-color;
      transition: .15s ease all;
    }
  }
}

a.bsh-well {
  display: block;
  background-color: #fff;
  color: #666666;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #dbdbdb;
  padding-top: 28px;
  padding-bottom: 20px;
  padding-left: 25px;
  position: relative;
  padding-right: 50px;

  &:hover{
    text-decoration: none !important;
    color: #fff;
    transition-duration: 0.5s;

    .bsh-media-body p, .caret-right {
      color: #fff;
      transition-duration: 0.5s;
    }
  }

  &:visited, &:focus {
    text-decoration: none !important;
  }

  .media-right {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -13px;
  }
}

#bsh-category-newb:hover{
  background-color: #328ED1;
  transition-duration: 0.5s;
  border-color: #328ED1;

  .newb-icon {
    color: #fff;
    transition-duration: 0.5s;
  }
}

#bsh-category-articles:hover{
  background-color: #FFB441;
  transition-duration: 0.5s;
  border-color: #FFB441;

  .article-icon {
    color: #fff;
    transition-duration: 0.5s;
  }
}

#bsh-category-dev:hover{
  background-color: #BAC147;
  transition-duration: 0.5s;
  border-color: #BAC147;

  .dev-icon {
    color: #fff;
    transition-duration: 0.5s;
  }
}

.bsh-media-body {

  padding-left: 16px;
  padding-top: 6px;

  .media-heading {
    font-weight: 800;
  }

  p {
    padding-top: 10px;
    font-size: 12px;
    color: #bbb; 
  }
}


// Icons

.newb-icon {
  font-size: 4rem;         
  color: #328ED1;
}

.article-icon {
  font-size: 4rem;         
  color: #FFB441;
}

.dev-icon {
  font-size: 4rem;         
  color: #BAC147;
}

.caret-right {
  font-size: 30px; 
  color: #bbb;
}

/* Popular articles */

.home-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: @earth-pumpkin-color;
}

.popular-articles-section {
  padding-left: 40px;

  > h3 {
    padding-left: 15px;
  }

  > ul {
    padding-left: 15px;
  }

  .nav > li {
    color: #999;
    
    > span {
      float: left;
      padding: 8px 8px 0px 0px;

      &:hover {
        color: #999;
      }
    }

    > a.popular-article-link {
      color: @link-color;
      line-height: 15px;
      padding-left: 0px;

      &:hover, &:focus {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

.new-window-icon {
  font-size: 9px;
}

#feed {
  margin-bottom: 30px;
}

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

                                            Bottom Sections

   &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */


.bsh-videos-container {
  background: #f6f6f6;
  border-top: 1px solid #e7e5e5;
  margin-top: 60px;
  padding-top: 65px;
  padding-bottom: 65px;
  box-shadow: rgba(0,0,0,.24) 0 0 10px 0 inset;
  border-bottom: 1px solid #ccc;

  .lghtbox > img {
    border: 1px solid #ccc;
  }

  .home-title {
    margin-bottom: 30px;
  }

}

a.bsh-thumbnail {
  padding:10px;
}

.bsh-additional-container {
  background: #ececec;
  border-top: 1px solid #e7e5e5;
  padding-top: 65px;
  padding-bottom: 70px;

  .home-title {
    margin-bottom: 45px;
  }

  .container {
    .row {
      .col-sm-3 {
        > a {
          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
    
}

.bsh-additional-section {
  color: #666;
  text-align: center;
  background-color: #fefefe;
  border-radius: 3px;
  padding: 15px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: #9ec4eb;
    color: #fff;
  }

  .bsh-additional-icon {
    font-size: 28px;
  }
}

