
/* Articles heading CSS */

.icon_articles{
    
    font-size: 30px;
    color: @article-color;
    
}


.landingpage_title{
    
  margin-top: 15px;
  margin-bottom: 15px;
  font: 200 28px/1.2em @font-header, sans-serif;
  color: @article-color;
  letter-spacing: 1px;
    
    
}

.line{
    
      border: solid;
      border-color: @footer-color;
      border-width: 1px;
    
}


.leftsection-heading{
    
    font:100 18px/1.2em @font-text, sans-serif;
    color: #666666;
    position: relative;
    bottom: 20px;
}

.leftsection-text {
    
    font:12px/1.2em @font-text, sans-serif;
    color: @footer-color;
    position: relative;
    bottom: 20px;
    
}

/*   ==========================================================================================================     */

