// @@@@@@@@@@@ New to    @@@@@@@@@@@
// @@@@@@@@@@@ BaseSpace @@@@@@@@@@@
// @@@@@@@@@@@ CSS       @@@@@@@@@@@

#bsh-newb-jumbotron {
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;

  > h1 {
    margin-bottom: 25px;
    color: #BE74AE;
    letter-spacing: 1px;
    margin-top: 100px;

    @media (max-width: @media-xs-max) {
      margin-top: 50px;
    }
  }

  > p {
    font-size: 16px;
    line-height: 30px;
  }
}

#discover-heading {
  color: #666666;
  letter-spacing: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.bsh-row {
  padding: 0;
}

.bsh-box-container {

  .panel { 
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    .panel-body {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }

    /* Tabs icons */

    .prep-icon {
       font-size: 4.5em;         
       color: #BE74AE;
    }

    .run-icon {
       font-size: 4.5em;         
       color: #FFB441;
    }

    .analysis-icon {
       font-size: 4.5em;         
       color: #7CA8D4;
    }

    .data-icon {
       font-size: 4.5em;         
       color: #BAC147;
    }

    .public-icon {
       font-size: 4.5em;         
       color: #FFB441;
    }

    .apps-icon {
       font-size: 4.5em;         
       color: #BE74AE;
    }
  }
}

.gradient-divider {
  height: 50px;
  width: 100%;
  margin-top: 100px;

  background-color:rgba(199, 199, 199, 0.2);
  background-image: -moz-radial-gradient(50% 100%, ellipse farthest-corner, rgba(199, 199, 199, 0.4), #ffffff 76%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, rgba(199, 199, 199, 0.4), #ffffff 76%);
  background-image: -o-radial-gradient(50% 100%, ellipse farthest-corner, rgba(199, 199, 199, 0.4), #ffffff 76%);
  background-image: -ms-radial-gradient(50% 100%, ellipse farthest-corner, rgba(199, 199, 199, 0.4), #ffffff 76%);
  background-image: radial-gradient(50% 100%, ellipse farthest-corner, rgba(199, 199, 199, 0.4), #ffffff 76%)
}
