/*   ========================================================================================================     */

// @@@@@@@@@@@ New to    @@@@@@@@@@@
// @@@@@@@@@@@ BaseSpace @@@@@@@@@@@
// @@@@@@@@@@@ CSS       @@@@@@@@@@@


.newb-title {
  margin-bottom: 25px;
  font: 200 28px/1.2em @font-header, sans-serif;
  color: @article-color;
  letter-spacing: 1px;
}

.newb-content {
    margin: 20px 40px 40px 0px;
    font-family: @font-text;
    color: @font-color;
    line-height: @line-gap;
}

.newb-content > p {
    font-size: 14px;
}


