<div class="col-xs-2 article-sidebar">


      <div class="block">

          <span class="related_section_heading">Related Articles</span>

          <div class="related_section_content">

                  <hr class="line-height"></hr>

                  <p><a>BaseSpace UI Overview</a></p>

                  <hr class="line-height"></hr>

                  <p><a>Getting Started with Sample Data</a></p>

                  <hr class="line-height"></hr>

          </div>



      </div>


      <div class="block">


          <span class="related_section_heading">Forums</span>

           <div class="related_section_content">

                  <hr class="line-height"></hr>

                  <p>Visit our <a>Forums</a> to engage with the BaseSpace Community</p>

           </div>



      </div>

    <div class="block">

          <div class="row">
          <span class="related_section_heading_video col-sm-9">Related Video</span>
          </div>
                <a href="#" class="lghtbox" data-toggle="modal" data-target="#videoModal" data-theVideo="//www.youtube.com/embed/HhHuCz5_pRQ"><img src="{{site.baseurl }}/images/basespace_video.png" class="img-responsive">
                <br>
                <p>Introduction to BaseSpace</p>
                </a>

                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div>
                                    <iframe width="100%" height="350" src=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>This video provides an introduction to BaseSpace and gives and overview of its functionality</p>

    </div>


<!--<div class="col-xs-1"></div>-->

</div><!-- /.blog-sidebar -->

