<!--  Breadcrumbs bar just below the header  -->
<div class="bsh-breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-2 text-right hidden-sm hidden-xs">
		  		{% if (page.section_root == null || page.section_root == false) or page.layout == 'newb' %}
	      		<a href="#" id="sidenav-toggle">
	      			<span class="icon-menu menu-icon" aria-hidden="true"></span>
	  			</a>
	      		{% endif %}
     		</div>
			<div class="col-md-10">
				<ol class="breadcrumb bsh-breadcrumb">
		        	<li>
		        	{% if page.section_root == null || page.section_root == false %}
						<a href="{{ site.baseurl }}/articles/">Articles</a>
					{% else %}
						<a href="{{ site.baseurl }}/">Help Center</a>
					{% endif %}
					</li>
					<li class="active">{{ page.title }}</li>
	      		</ol>
 			</div>
		</div>
	</div>
</div>





<!--  Breadcrumbs bar ends  -->