<div class="bs-nav-titlebar">
	<div class="container">
		<div class="bs-nav-titlebar-group">
			{% if page.section_root == null || page.section_root == false %}
			<a class="btn illumina-gray bs-nav-back" href="{{ site.baseurl }}/articles/">
				<span class="illumicons caret-left medium">
				</span>
				<span class="bs-nav-back-text">Articles</span>
			</a>
			{% else %}
			<a class="btn illumina-gray bs-nav-back" href="{{ site.baseurl }}/">
				<span class="illumicons caret-left medium">
				</span>
				<span class="bs-nav-back-text">Help Center</span>
			</a>
			{% endif %}
			<h3 class="bs-nav-title">
				<span class="bs-nav-title-text">{{ page.title }}</span>
			</h3>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
