<!--  Breadcrumbs bar just below the header  -->
<div class="bsh-breadcrumb-bg">
	<div class="container">
		<div class="row">
			{% if page.headings != null and page.headings.size > 0 %}
			<div class="text-left hidden-sm hidden-xs col-md-2 col-lg-2 bsh-breadcrumb-left">
		  		
	      			<!-- vertical line -->
			        <div class="vertical-line"></div>

			        <!-- burger icon -->
		        	<a id="sidenav-toggle">
		        		<div class="menu-box">
			        	   	<span class="icon-menu menu-icon" aria-hidden="true"></span>
		       			</div>
		       		</a>
	      	</div>
	      	{% endif %}
			
			<div class="col-md-10 col-lg-10">
				<ol class="breadcrumb bsh-breadcrumb">
				    <li>
				        {% case page.layout %}
				        {% when "release-notes" %}
                        <a href="{{ site.baseurl }}/release-notes/">Release Notes</a>
				        {% when "article" %}
				        <a href="{{ site.baseurl }}/articles/">Articles</a>
                        {% else %}
				        <a href="{{ site.baseurl }}/">Help Center</a>
				        {% endcase %}
				    </li>
					<li class="active">{{ page.title }}</li>
	      		</ol>
 			</div>
		</div>
	</div>
</div>
<!--  Breadcrumbs bar ends  -->