<div class="lower_banner">
<div class="container">

<div class="row">

    <div class="col-sm-4 col-sm-offset-4">

        <h3 class="banner_heading">Additional resources</h3>

    </div>
</div>

<div class="row">
  <div class="banner_position">

    <div class="col-sm-12">

    <div class="col-sm-3 col-sm-offset-1">

        <a href="articleBasic.html">
        <section class="block">
                <section>
                      <div class="left_cell">
                        <span class="icon-envelope banner_header_icon"></span>
                      </div>
                      <div class="right_cell">
                        <h3 class="lower_banner_header">Provide Feedback</h3>
                      </div>

                </section>
                <section>
                        <p class="lower_banner_text">Have questions, suggestions or feedback? Send us an email</p>
                </section>
        </section>
        </a>


    </div>


     <div class="col-sm-2 col-sm-offset-1">

        <section class="block">
                <section>
                      <div class="left_cell">
                        <span class="icon-phone banner_header_icon"></span>
                      </div>
                      <div class="right_cell">
                        <h3 class="lower_banner_header">Call Us</h3>
                      </div>
                </section>
                <section>
                        <p class="lower_banner_text">Can't find what you are looking for? Call us</p>
                </section>
        </section>


    </div>


     <div class="col-sm-3 col-sm-offset-1">

        <section class="block">
                <section>
                      <div class="left_cell">
                        <span class="icon-print banner_header_icon"></span>
                      </div>
                      <div class="right_cell">
                        <h3 class="lower_banner_header">Print User Guide</h3>
                      </div>
                </section>
                <section>
                        <p class="lower_banner_text">Print a PDF version of our User Guide that include articls, FAQs and policies</p>
                </section>
        </section>
        

    </div>


</div>

</div>

</div>

</div>
</div>
