<!-- Footer
================================================== -->
<div class="footer">
    <p style="verticle-align:middle">© 2014 Illumina, Inc. All rights reserved.</p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/docs.min.js"></script>
<!-- ******************************************************                    Body EMD                ************************************************* -->
