---
layout: default
hide_welcome_banner: true
is_article: true
---
<!--  Breadcrumb bar  -->
{% include article-breadcrumbs.html %}
<!--  Breadcrumb bar ends  -->

<div class="container">
  <div class="row">
    <div class="col-md-2 hidden-sm hidden-xs">
      <div id="sidenav-list" class="affix" style="display:none;">
        {% if page.headings and page.headings.size > 0 %}
          <ul class="nav nav-stacked text-right">
          {% for t in page.headings %}
            {% if t.Level == 2 %}
              <li>
                <a href="#{{ t.Id }}">{{ t.Text }}</a>
                {% if t.children and t.children.size > 0 %}
                  <ul class="nav nav-stacked">
                  {% for child in t.children %}
                    {% if child.Level == 3 %}
                    <li>
                      <a href="#{{ child.Id }}">{{ child.Text }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div><!-- /end side nav column -->
    <div class="{% if page.hide_right_sidebar %}col-md-10{% else %}col-md-8{% endif %}">
      <!-- Article Header -->
      {% if (page.hide_article_title == null || page.hide_article_title == false) %}
        <h1 class="bsh-article-title">{{ page.title }}</h1>
      {% endif %}
      <!-- Article Header ends -->

      <!-- Article Body -->
      <div class="bsh-article-content">
        {{ content }}
      </div> 
      <!-- Article-body ends -->
    </div><!-- /end main content column -->
    {% if page.hide_right_sidebar == null %}
    <div class="col-md-2">
      {% include article-sidebar.html %}
    </div><!-- /end related content column -->
    {% endif %}
  </div><!-- /end main .row -->
</div><!-- /end .container -->
<!--  container ends -->
{% include edit.html %}
