<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="styling{% if page.is_homepage == true %}_home{% endif %}">
	<!--      Top Navigation with BaseSpace & Illumina Logo
		==================================================        -->

	<div class="header"> <!-- custom css -->
		<div class="row">
				<div class="col-lg-12">
						<img class="image-header" src="{{ site.baseurl }}/images/basespaceheader.jpg">
				</div>
		</div>
	</div>

{% if page.hide_welcome_banner == null || page.hide_welcome_banner == false %}
	<div class="container-fluid banner-container">
		<div class="row">
				<div class="banner-custom">
						<div class="container">
							<div class="col-sm-6">
								<h1 class="banner-text">HelpCenter</h1>
								<p class="banner-p">Browse through our articles, forums, video and blog posts</p>
							</div>
							<div class="col-sm-6">
									<div class="get-started">
										<p class="gs-head">everything you need to quickly get going</p>
										<a href="{{ site.baseurl }}/articles/getting-started/" class="button-secondary">Get Started <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
									</div>
							</div>
						</div>
					</div>
		</div>
	</div>
{% endif %}

	<div class="page-content">
	{{ content }}
	</div>

		{% include foot.html %}
	</body>
</html>
