<!DOCTYPE html>
<html lang="en">
	<!-- head section -->
	{% include head.html %}
	<!-- head section ends -->

	<!-- body section begins -->
	<body data-spy="scroll" data-target="#sidenav-list" class="{% if page.is_homepage == null %}bsh-with-breadcrumbs{% endif %}">
		<nav class="navbar navbar-default bsh-header navbar-fixed-top bsh-static-xs">
		  <div class="container">
		  	<div class="row">
		  		<div class="{% if page.is_homepage %}col-md-12{% else %}col-md-8 col-md-offset-2{% endif %}">
					<!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="{{ site.baseurl }}/"><b>BaseSpace</b><sup><sup>&reg;</sup></sup> HelpCenter</a> 
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right hidden-xs {% if page.is_homepage == null %}hidden-md{% endif %}">
				        <li>
				        	<a href="http://www.illumina.com/" target="_blank">
			  	    			<img class="header-brand-illumina" src="/images/ILLUMINA_LOGO.png" width="85" />
			  	    		</a>
		  	    		</li>
				      </ul>
				      <form class="navbar-form navbar-right" role="search" id="searchbox_002811649472907755927:ae_7fgj1z-k" method="get" action="{{ site.baseurl }}/articles/searchresults/">
				        <div class="form-group">
				          	<input value="002811649472907755927:ae_7fgj1z-k" name="cx" type="hidden"/>
					    	<input value="FORID:11" name="cof" type="hidden"/>
						    <input class="form-control" id="q" name="q" size="35" type="text" value="" placeholder="Search"/>
				        </div>
				      </form>
				    </div><!-- /.navbar-collapse -->
		  		</div>
		  	</div>
		    
		  </div><!-- /.container -->
		</nav>
		
		<!-- page content -->
		{{ content }}
		<!-- end page content -->

		<!-- footer -->
		{% include foot.html %}		
		<!-- end footer -->

		<!-- scripts -->
		{% include scripts.html %}
		<!-- end scripts -->
	</body>
	<!-- body section ends -->
</html>
