---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-sm-4">    <!-- Side Nav -->
      <div>
          <ul class="nav-left-gs">
                  <li>

                    <a href="#" class="link_one active">What is BaseSpace</a>

                  </li>

                  <li>

                      <a href="#" class="link_two">BaseSpace Tabs</a>

                  </li>

                  <li>

                      <a href="#" class="link_three">Accounts & Settings</a>

                  </li>

                  <li>

                      <a href="#" class="link_four">Setting up your first run</a>

                  </li>

                  <li>

                      <a href="#" class="link_five">Using Public Data</a>

                  </li>

                  <li>

                      <a href="#" class="link_six">How to learn more?</a>

                  </li>
          </ul>
      </div>
    </div>

    <div class="col-sm-8">
      <div id="load-content">
      {{ content }}
      </div>
    </div>
  </div>
</div>

<br>
<br>
