---
layout: default
hide_welcome_banner: true
is_article: true
---
<!--  Breadcrumb bar  -->
{% include breadcrumbs.html %}
<!--  Breadcrumb bar ends  -->

<div class="container">
  <div class="row">

    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs" id="sidenav-column">
      <div id="sidenav-list" class="affix" style="display:none;">
        {% if page.headings and page.headings.size > 0 %}
          <ul class="nav nav-stacked text-right">
          {% for t in page.headings %}
            {% if t.Level == 2 %}
              <li>
                <a href="#{{ t.Id }}">{{ t.Text }}</a>
                {% if t.children and t.children.size > 0 %}
                  <ul class="nav nav-stacked">
                  {% for child in t.children %}
                    {% if child.Level == 3 %}
                    <li>
                      <a href="#{{ child.Id }}">{{ child.Text }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div><!-- /end side nav column -->
    
    <div class="col-lg-12 col-md-12" id="content-column">
    
      <div class="row">
        
        <div class="col-lg-10 col-md-12">
          <!-- Article Header -->
          {% if (page.hide_article_title == null || page.hide_article_title == false) %}
            <h1 class="bsh-article-title">{{ page.title }}</h1>
          {% endif %}
          <!-- Article Header ends -->

          <!-- Article Body -->
          <div class="bsh-article-content">
            {{ content }}
          </div> 
          <!-- Article-body ends -->
        </div>
        
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
          <!--  article sidebar -->
          {% if (page.hide_github_edit == null || page.hide_github_edit == false) %}
            {% include article-sidebar.html %}
          {% endif %}
        </div>

      </div>

      <!--  article sidebar -->
      {% if (page.hide_github_edit == null || page.hide_github_edit == false) %}
        {% include edit.html %}
      {% endif %}

    </div><!-- /end main content column -->
  
  </div><!-- /end main .row -->

</div><!-- /end .container -->


